.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: solid 1px black;
    text-align: center;
    
}

.centralizado {
    width: 50%;
    border: solid 1px black;

}
.central {
    position: relative;
    border: solid 1px red;
    left: 60px;
}

.right {
    position: relative;
    border: solid 1px green;
    height: 100px;
    width: 100px;
    margin: 100px;
    padding: 20px;
    
}
