<!DOCTYPE html>   

    <%- include('../partials/head'); %>
    
    
    <body class="container">
        
        <%- include('../partials/header', {pagina: 'Sobre'}); %>
        
        <main>
            <div class="jumbotron">
                <h1>Sobre mim</h1>
                <p>Meu nome é Samuel, tenho 18. Estou na metade do curso tecnico em eletroelêtronica no SENAI, tenho interesse na area da tecnologia, nela eu estudo com frequencia na rocketseat um plataforma gratuita que ofere cursos para o 
                    desenvolvimento. Nela estou a 4 meses fazendo desafios e seguindo as aulas, fora a integração com as comunidades e projetos pessoais para melhorar a lógica. </p>
            </div>
        </main>  
        
        <%- include('../partials/footer'); %>

    </body>   
</html>